// Imports //
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

// Colors //
$bg-color: #e1b12c;
$content-color: #2f3640;
$title-fonts: 'Rubik Mono One', sans-serif;

// Mixins //

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font: $content-color;
  background: $bg-color;
}
